@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root {
    --success-color: #2fcc71;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin: 20px;
    padding-bottom: 15px;
    position: relative;
}

.form-control label {
    display: block;
    color: cornflowerblue;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #fff;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border: 2px solid rgb(140, 140, 140)
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}